<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <myparcel_section_general>
            <myparcel_group_general>
                <enable>1</enable>
            </myparcel_group_general>
        </myparcel_section_general>
        <carriers>
            <myparcelpickup>
                <active>1</active>
                <title>MyParcel Pickup</title>
                <model>MyParcelCOM\Magento\Model\Carrier\MyParcelPickup</model>
                <price>10.00</price>
                <sallowspecific>1</sallowspecific>
                <specificcountry>NL,GB</specificcountry>
                <type>I</type>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </myparcelpickup>
        </carriers>
    </default>
</config>