<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="myparcel_tab" translate="label" sortOrder="400">
            <label>MyParcel.com</label>
        </tab>
        <section id="myparcel_section_general" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>General</label>
            <tab>myparcel_tab</tab>
            <resource>MyParcelCOM_Magento::general_configuration</resource>
            <group id="myparcel_group_api" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="1">
                <label>API Configuration</label>
                <field id="api_client_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>API Client ID</label>
                    <comment>API Client ID.</comment>
                </field>
                <field id="api_client_secret_key" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>API Client Secret Key</label>
                    <comment>API Client Secret Key.</comment>
                </field>
                <field id="api_client_environment" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Test mode</label>
                    <comment>Communicate with the sandbox environment.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="myparcel_group_setting" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Default Custom Value</label>
                <field id="default_hs_code" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>HS Code</label>
                    <comment>Classifies the goods with HS code.</comment>
                </field>
                <field id="default_origin_coutry_code" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Origin Country Code</label>
                    <comment>Country where the goods are originated from.</comment>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>
                <field id="content_type" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Content Type</label>
                    <comment>Classifies the type of goods.</comment>
                    <source_model>MyParcelCOM\Magento\Model\Source\ContentType</source_model>
                </field>
                <field id="incoterm" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Incoterm</label>
                    <comment>Specifies the incoterm.</comment>
                    <source_model>MyParcelCOM\Magento\Model\Source\Incoterm</source_model>
                </field>
                <field id="non_delivery" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Non Delivery</label>
                    <comment>Determines what needs to be done with the goods in case of unsuccessful delivery.</comment>
                    <source_model>MyParcelCOM\Magento\Model\Source\NonDelivery</source_model>
                </field>
            </group>
            <group id="myparcel_support" translate="label" type="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>MyParcel.com</label>
                <attribute type="expanded">1</attribute>
                <field id="current_version" translate="label" type="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Current Version</label>
                    <backend_model>MyParcelCOM\Magento\Model\Source\Version</backend_model>
                </field>
                <field id="support_url" translate="label comment" type="label" sortOrder="211" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>MyParcel.com support</label>
                    <comment><![CDATA[<a href="https://myparcel-com.odoo.com/magento" target="_blank">https://myparcel-com.odoo.com/magento</a>]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
